:root {
  --c-primary: #08a6e4;
  --c-primary-shadow: rgba(7, 172, 230, 0.16);
  --c-redish: #fb3b64;
  --c-green: #55dfb4;
  --c-black: #000000;
  --c-grey: #a5a5a5;
  --c-light-grey: #f7f7f7;
  --c-white: #ffffff;
}

html {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.container {
  width: 1352px;
  margin: 0 auto;

}
/* -----------------------------------------------------
              Logo + Pasek Menu
----------------------------------------------------- */

.hero {
  width: 100%;
  min-height: 700px;
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.header {
  background: #ffffff;
  height: 70px;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  background-repeat: no-repeat;
}

.container__nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  text-decoration: none;
}

.logo span {
  top: 16px;
  left: 136px;
  width: 142px;
  height: 37px;

  font: normal normal 300 32px/37px Raleway;
  letter-spacing: 0px;
  color: #08a6e4;
  opacity: 1;
}
.menu {
    
}
.menu__list {
    display: flex;
    justify-content: space-between;
}


.menu__list li {

}
